@import url('./_hidden/card__button-popup_hidden.css');
@import url('./_clickable/card__button-popup_clickable.css');

.card__button-popup {
  height: 40px;
  background: #FFFFFF;
  border-radius: 8px;
  padding: 0 12px 0;
  opacity: 1;
  transition: .3s all;

  display: flex;
  justify-content: center;
  align-items: center;
}