.search__input {
  width: calc(100% - 172px);
  border: none;
  padding: 0;
  height: 22px;

  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
}

@media only screen and (max-width: 600px) {
  .search__input {
    width: calc(100% - 24px);
  }
}