.about__image {
  width: 464px;
  height: 464px;
  border-radius: 50%;
}

@media only screen and (max-width: 1024px) {
  .about__image {
    width: 380px;
    height: 380px;
  }
}

@media only screen and (max-width: 768px) {
  .about__image {
    width: 232px;
    height: 232px;
  }
}

@media only screen and (max-width: 500px) {
  .about__image {
    width: 272px;
    height: 272px;
    margin: auto;
  }
}