@import url('./_disabled/popup__button_disabled.css');

.popup__button {
  width: 100%;
  height: 64px;
  background: #2F71E5;
  color: #FFFFFF;
}

.popup__button:hover {
  background: #347EFF;
}

.popup__button:focus {
  background: #2A65CC;
}