@import url('./__tilte/results__title.css');
@import url('./__card/results__card.css');
@import url('./__button-container/results__button-container.css');
@import url('./__cards-container/results__cards-container.css');
@import url('./__button/results__button.css');
@import url('./__preloader/results__preloader.css');
@import url('./__preloader-container/results__preloader-container.css');
@import url('./__preloader-text/results__preloader-text.css');
@import url('./__subtitle/results__subtitle.css');
@import url('./__status-image/results__status-image.css');
@import url('./_loading/results_loading.css');
@import url('./_nothing-found/results_nothing-found.css');
@import url('./__content/results__content.css');
@import url('./__card-button-container/results__card-button-container.css');
@import url('./__card-button/results__card-button.css');
@import url('./__card-button-popup/results__card-button-popup.css');

.results {
  padding: 80px 104px;
  background: #F5F6F7;
}

@media only screen and (max-width: 1000px) {
  .results {
    padding: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .results {
    padding: 32px 16px;
  }
}