/* @import url('./_active/card__button-outline_active.css');

.card__button-outline {
  stroke: #B6BCBF;
}

.card__button-container:hover .card__button-outline {
  stroke: #1A1B22;
} */

.card__button_black .card__button-outline {
  stroke: #1A1B22;
}

.card__button_default .card__button-outline {
  stroke: #B6BCBF;
}

.card__button_blue .card__button-outline {
  stroke: #2F71E5;
}