@import url('./_disabled/button_disabled.css');
@import url('./_default/button_default.css');

.button {
  padding: 0 12px;
  border-radius: 100px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .3s all;
}

.button:focus {
  outline: none;
}