.header__link.header__link_active {
  position: relative;
  color: #fff;
  cursor: auto;
}

.header__link_active::after {
  position: absolute;
  bottom: -27px;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background-color: #fff;
}

.header_white .header__link_active::after {
  background-color: #1A1B22;
}

@media only screen and (max-width: 768px) {
  .header__link_active::after {
    bottom: -21px;
  }
}

@media only screen and (max-width: 600px) {
  .header__link_active::after {
    display: none;
  }
}