.results__cards-container {
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

@media only screen and (max-width: 768px) {
  .results__cards-container {
    margin-top: 32px;
  }
}

@media only screen and (max-width: 700px) {
  .results__cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .results__cards-container {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}