.footer__social-item:last-of-type {
  margin-left: 28px;
}

.footer__social-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .footer__social-item {
    justify-content: flex-start;
  }
}