.footer__container {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 500px) {
  .footer__container {
    flex-direction: column;
    justify-content: flex-start;
  }
}