.popup__button.popup__button_disabled {
  background: #E6E8EB;
  color: #B6BCBF;
  cursor: not-allowed;
}

.popup__button.popup__button_disabled:hover, .popup__button.popup__button_disabled:focus    {
  background: #E6E8EB;
}