.saved-articles__subtitle {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
}

@media only screen and (max-width: 1024px) {
  .saved-articles__subtitle {
    font-size: 14px;
  }
}