@import url('./__article-counter/saved-articles__article-counter.css');
@import url('./__card-container/saved-articles__card-container.css');
@import url('./__card/saved-articles__card.css');
@import url('./__results/saved-articles__results.css');
@import url('./__stats-container/saved-articles__stats-container.css');
@import url('./__subtitle/saved-articles__subtitle.css');
@import url('./__themes/saved-articles__themes.css');
@import url('./__title/saved-articles__title.css');
@import url('./__themes-counter/saved-articles__themes-counter.css');
@import url('./__themes-first/saved-articles__themes-first.css');

.saved-articles {
  padding-top: 80px;
}

@media only screen and (max-width: 768px) {
  .saved-articles {
    padding-top: 66px;
  }
}

@media only screen and (max-width: 600px) {
  .saved-articles {
    padding-top: 56px;
  }
}