@import url('./_nothing-found/results__preloader-container_nothing-found.css');
@import url('./_loading/results__preloader-container_loading.css');

.results__preloader-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}