.search__input-wrapper {
  width: 376px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .search__input-wrapper {
    width: 250px;
  }
}