.search__input-wrapper {
  width: 376px;
  background: #FFFFFF;
  border: 1px solid #D1D2D6;
  box-sizing: border-box;
  border-radius: 100px;
  height: 100%;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .search__input-wrapper {
    height: 64px;
    width: 250px;
  }
}

@media only screen and (max-width: 500px) {
  .search__input-wrapper {
    height: 56px;
    width: 100%;
    margin-bottom: 16px;
  }
}