.about__container {
  display: grid;
  grid-template-columns: 464px 1fr;
  column-gap: 56px;
}

@media only screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 380px 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .about__container {
    grid-template-columns: 232px 1fr;
    column-gap: 32px;
  }
}