.footer__link-wrapper:last-of-type {
  margin-left: 30px;
}

.footer__link-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .footer__link-wrapper:last-of-type {
    margin-left: 15px;
  }
}