.header__button.button {
  border: 1px solid #FFFFFF;
  color: #FFF;
  background: rgba(0, 0, 0, 0);
  height: 48px;
}

.header_white .header__button.button {
  border-color: #1a1b22;
  color: #1a1b22;
}

.header_dropdown-active .header__button.button {
  border-color: #fff;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .header__button.button {
    margin-top: 22px;
  }
}