@import url("./_auth/header__button_auth.css");
@import url("./_unauth/header__button_unauth.css");


.header__button.button {
  border: 1px solid #FFFFFF;
  color: #FFF;
  background: rgba(0, 0, 0, 0);
  height: 48px;
}