.header__button.button {
  border: 1px solid #FFFFFF;
  color: #FFF;
  background: rgba(0, 0, 0, 0);
  height: 48px;
}

@media only screen and (max-width: 600px) {
  .header__button.button {
    margin-top: 22px;
  }
}