.search__description {
  margin: 32px 0 0;

  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

@media only screen and (max-width: 768px) {
  .search__description {
    margin-top: 16px;
    font-size: 18px;
    line-height: 24px;
  }
}